<ion-header>
  <ion-toolbar>
    <ion-title>Ley</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>  Artículo 97.- Lo dispuesto en el artículo 94 no obsta a las revisiones que decreten los Tribunales en los casos particulares que conozcan y de los controles que se practiquen en la vía pública.
    Artículo 98.- Los vehículos que hayan perdido sus condiciones de seguridad serán retirados de la circulación y puestos a disposición del Tribunal competente en los locales que, para tal efecto, debe habilitar y mantener la Municipalidad.
    El vehículo y el permiso de circulación deberán ser restituídos por el tribunal que conozca del proceso, tan pronto se acredite que el desperfecto ha sido reparado o si la restitución se motivare en la necesidad de completar su reparación.
    Sin embargo, si el desperfecto del vehículo fuere subsanado en el lugar en que se constató la infracción, podrá autorizarse para que se continúe de inmediato en circulación, sin retirarse el padrón o permiso respectivo y sin perjuicio de efectuarse la denuncia correspondiente por la infracción cometida.
    En todo caso, el juez siempre podrá disponer, si lo estima procedente, una revisión del vehículo por un establecimiento competente.
    Lo anterior es sin perjuicio de las medidas de carácter administrativo que adopte el Ministerio de Transportes y Telecomunicaciones en uso de sus facultades legales, en lo relativo a los vehículos de carga, a los destinados al transporte colectivo de personas y a los automóviles destinados a la prestación de servicios de uso público.</p>

</ion-content>
