<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FastControl
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    
  <div class="container">
    <h1> Bienvenido a FastControl</h1>
    <div class="img1">
    <img src="./assets/icon/scv.jpg" />
  </div>
  </div>
  <div>
    <h1>
      
      <a href="iniciosesion">
        <ion-button expand="block">Inicio de Sesión</ion-button>
      </a>
    </h1>
    <p>
        ¿Que beneficios traerá este sistema?
        Controlar en el momento a vehiculos y registrarlos en el sistema automaticamente
        
      </p>
     </div>
</ion-content>


<ion-footer>
  
    <p class="pe">

      ©Derechos Reservados
    </p> 
  
</ion-footer>