<ion-header>
  <ion-toolbar>
    <ion-title>Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Patente</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Permiso Circulacion</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Numero Chasis</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Revision Tecnica</ion-label>
    <ion-input></ion-input>
  </ion-item>
 <br>
 <br>
 <br>
 <a href="home">
  <ion-button expand="block">Registrar Datos</ion-button>
</a>
  
</ion-content>
